*{
    color: rgba(228, 60, 60, 0.842);
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(img/Main.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    overflow: hidden;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.restaurant-name{
    font-size: 8rem;
    text-align: center;
}

header{
    display:flex;
    gap:20px;
    justify-content: center;
}

button{
    border:none;
    font-size: 2rem;
    padding:5px;
    cursor: pointer;
}

.restaurant-name,header{ 
    width: 100%;
}

.restaurant-name,button,header{
    background-color: rgba(0, 0, 0, 0.9);
}

.about{
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    align-items: center;
    justify-content: space-evenly;
    gap:20px;
    background-color: rgba(0, 0, 0, 0.8);
    height: 20rem;
    padding: 0px 25px;
    backdrop-filter: blur(2px);
}

.intro{
    font-size: 3rem;
    color: white;
}

.history{
    text-align: center;
    font-size: 2rem;
    color: white;
}